*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
body{
 background: url(Nature-HD-2560-x-1440-Image.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
   background-size: cover;
     border-radius: 20px;
  background-position: center; 
}
.main{
  background: transparent;
  width: 420px;
  padding: 30px 40px;
  border: 2px solid rgba(225, 225, 225, .1);
  backdrop-filter: blur(5px);
  border-radius: 20px;

}
.main h1{
  text-align: center;
  font-weight: bolder;
  
  
}
.name{
  
  width: 100%;
  height: 40px;
  margin: 20px 0;

  
}
.name input{
  width:100%;
  height: 100%;
 border: none;
 background: transparent;
 outline: none;
 border:2px solid rgba(225,225,225,.2);
 border-radius: 40px;
 padding-left: 15px;
 font-size: 15px;
}
.remember {
  display: flex;
  justify-content: space-between;
}
.remember label input{
  accent-color: white;
  margin-right:5px;
}
.remember a{
  text-decoration: none;
  color: white;
  
}
.remember a:hover{
  text-decoration: underline;
}
.loginbutton{
    margin-top: 20px ;
    width: 100%;
    height: 40px;

}
.loginbutton button{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 40px;
    font-size: larger;
    font-weight: bolder;
}
.dont{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.dont a{
    text-decoration: none;
    color: white;

}
.dont a:hover{
    text-decoration: underline;
}