*{
    background-color: rgb(227, 255, 255);
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    font-style: italic ;

}
  #ferrari,img{
    width: 100%;
    height: 50%;
     border: 0px solid black;
      border-radius: 5px 5px 0px 0px;
}
#porche,img{
     width: 100%;
    height: 50%;
     border: 0px solid black;
      border-radius: 5px 5px 0px 0px;
}
#main{
    
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 50px 150px;
    border-radius: 20px;
    background-color:rgb(253, 250, 242);
  
   transition: all 0.5s ease-in-out;

}
#main:hover{

     box-shadow: 0 0 30px #161515;

}
#ferrari{
     border: 0.001px solid  lightyellow;
    width: 20% ;
    height: 400px;
    margin:20px ;
    border-radius: 5px;
  transition: all 0.5s ease-in-out;
  background-color: white;

}
#ferrari:hover{
     box-shadow: 0 0 20px yellow;
 width: 25%;
     height: 440px;
}

#porche{
    border: 1px solid rgb(252, 252, 252);
    width: 20% ;
    height: 400px;
    margin:20px ;
    border-radius: 5px;
     transition: all 0.5s ease-in-out;
     background-color: white;
}
#porche:hover{
     box-shadow: 0 0 20px black;
 width: 25%;
     height: 440px;
}
#bugatti{
      border: 1px solid rgb(252, 252, 252);
    width: 20% ;
    height: 400px;
    margin:20px ;
    border-radius: 5px;
     transition: all 0.5s ease-in-out;
     background-color: white;
}
#bugatti:hover{
     box-shadow: 0 0 20px red;
 width: 25%;
     height: 440px;
}
#lamborgini{
     border: 1px solid rgb(252, 252, 252);
    width: 20% ;
    height: 400px;
    margin:20px ;
    border-radius: 5px;
     transition: all 0.5s ease-in-out;
     background-color: white;
}
#lamborgini:hover{
     box-shadow: 0 0 20px rgb(173, 209, 233);
     width: 25%;
     height: 440px;
}
p{
    font-size: large;
   background-color: white;
}
#P{
    color: orangered;
    background-color: white;
}
button{
    padding: 10px 20px;
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
    
}
button:hover{
    background-color: white;
    padding: 15px 30px;
}

button:active{
background-color: rgb(65, 65, 65);
margin-left: 4px;

}


