div {
  width: auto;
  height: 20vh;
  max-height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  border: none;
  background-color: cornflowerblue;
  width: 20%;
  height: 50%;
  border-radius: 15px;
  cursor: pointer;

}



button:hover {
  background-color: rgb(89, 122, 182);
  width: 21%;
  height: 51%;
  transition-duration: 0.2s;
}

.reset{
    width: 35%;
    
}
.reset:hover{
  background-color: rgb(89, 122, 182);
  width: 36%;
  height: 51%;
  transition-duration: 0.2s;
}

h1,
h2 {
  text-align: center;
}
